@{
    ViewBag.Title = "Home Page";
}

<!-- About Start -->

    <div class="container px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-4">
                    <h1 class="mb-2">Welcome to G.A Technologies</h1>
                </div>
                <p class="mb-4">Where Technology Meets Healthcare: We are Leading the Way! Unleashing the Power of Innovation for Health and Social Care Solutions!"</p>
                <div class="row g-3">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-light rounded text-center p-4">
                            <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                            <h2 class="mb-1" data-toggle="counter-up">82</h2>
                            <p class="mb-0">Experts</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="bg-light rounded text-center p-4">
                            <i class="fa fa-users fa-2x text-primary mb-2"></i>
                            <h2 class="mb-1" data-toggle="counter-up">2130</h2>
                            <p class="mb-0">Clients</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-light rounded text-center p-4">
                            <i class="fa fa-check fa-2x text-primary mb-2"></i>
                            <h2 class="mb-1" data-toggle="counter-up">80</h2>
                            <p class="mb-0">Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="~/img/about.jpg">
            </div>
        </div>
    </div>
<!-- About End -->

<div class="jumbotron">
    <h1 class="btn btn-danger btn-lg">Technology | People | Health & Social care</h1>
    <p class="lead text-primary mb-1">Transforming Lives - <strong>With Technology</strong> 🚀🌍</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row gy-5 gx-4">
    @* 1st box *@
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="position-relative shadow rounded border-top border-5 border-primary">
            <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                <i class="fa fa-server text-white"></i>
            </div>
            <div class="text-center border-bottom p-4 pt-5">
                <h4 class="fw-bold">Tech Integration</h4>
                <p class="mb-0">Machine learning, AI and Data analytics</p>
            </div>
            <div class="text-center border-bottom p-4">
                <p class="text-primary mb-1">Transforming Lives - <strong>With Tech</strong></p>
            </div>
            <div class="p-4">
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Artificial Intelligence (AI): Leveraging AI algorithms and machine learning models to create future products and improved services.</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Data Analytics: Harnessing the power of Big data analytics, to identify patterns, trends, and insights that help in technological outcomes, optimizing resource allocation, and developing targeted interventions.</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Mobile / Web Applications: Developing user-friendly apps that empower individuals and providing seamless communication.</p>

            </div>
            <div class="text-center border-bottom pb-3">
                <a class="btn btn-primary px-4" href="">Learn more</a>
            </div>

        </div>
    </div>
    @* End of 1 *@

    @* 2nd box *@
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="position-relative shadow rounded border-top border-5 border-secondary">
            <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-secondary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                <i class="fa fa-share-alt text-white"></i>
            </div>
            <div class="text-center border-bottom p-4 pt-5">
                <h4 class="fw-bold">Health and Social Care</h4>
                <p class="mb-0">Person-Centered Care, Mental Health Support and Social Inclusion</p>
            </div>
            <div class="text-center border-bottom p-4">
                <p class="text-primary mb-1">Transforming Lives - <strong>With Tech</strong></p>
            </div>
            <div class="p-4">
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Person-Centered Care: The individual is at the center of our care delivery. Prioritizing personalized and tailored care plans</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Mental Health Support: We acknowledge the significance of mental health in overall well-being. Providing comprehensive mental health support services, including counseling, therapy, and access to mental health professionals</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Preventive Care: We emphasizes the importance of preventive care, promoting education, awareness, and early intervention</p>
                
            </div>
            <div class="text-center border-bottom pb-3">
                <a class="btn btn-secondary px-4" href="">Learn more</a>
            </div>

        </div>
    </div>
    @* End of 2 *@

    @* 3rd box *@
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="position-relative shadow rounded border-top border-5 border-primary">
            <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                <i class="fa fa-globe text-white"></i>
            </div>
            <div class="text-center border-bottom p-4 pt-5">
                <h4 class="fw-bold">Global Impact</h4>
                <p class="mb-0">International Partnerships, Cross-Cultural Competence and International Presence</p>
            </div>
            <div class="text-center border-bottom p-4">
                <p class="text-primary mb-1">Transforming Lives - <strong>With Tech</strong></p>
            </div>
            <div class="p-4">
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>International Collaboration: We have active collaborations with Information Technology and healthcare professionals, plus researchers and social care experts from around the world fostering international partnerships.</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>International Presence: We have established a global presence, with offices, partners and collaborations in the United Kingdom and Africa plus various country representative worldwide.</p>
                <p class="border-bottom pb-3"><i class="fa fa-check text-primary me-3"></i>Cross-Cultural Competence: At G.A Tech we value cross-cultural competence and recognize diverse cultural contexts. Navigating cultural nuances & tailoring services to fit.</p>

            </div>
            <div class="text-center border-bottom pb-3">
                <a class="btn btn-primary px-4" href="">Learn more</a>
            </div>

        </div>
    </div>
    @* End of 3 *@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tech Integration</h2>
        <p>Embracing the latest technological advancements, We integrates artificial intelligence, machine learning, and data analytics into our solutions. Harnessing the power of innovation to drive efficiency, accuracy, and accessibility in healthcare and social care services.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Innovation</h2>
        <p>
            Leveraging the power of technology to develop groundbreaking solutions and advancements in medical research, diagnostics, and treatments. We are pushing the boundaries of medical science, aiming to improve patient outcomes and enhance overall well-being.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>People First</h2>
        <p>Prioritizing empathy, compassion, and personalized care services, ensuring that you receive the attention you need and deserve.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
