
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}
<div class="col-lg-9 col-md-8 bg-white">
    <div class="container mt-4">
        @*<div class="row">*@
            <h2 class="text-center text-secondary d-flex justify-content-center">Access Denied</h2>
            <p>@Html.ActionLink("Go to Login","Index","Login")</p>
        @*</div>*@
    </div>
</div>

